
body::-webkit-scrollbar {
    width: 1em;
}
 
body::-webkit-scrollbar-track {
	margin-top: 2%;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}
 
body::-webkit-scrollbar-thumb {
  	background-color: darkgrey;
  	outline: 2px solid slategrey;
  	border-radius: 10px;
}
body::::-webkit-resizer{
}
nav{
	overflow: hidden;
	border-bottom-right-radius: 10px;
}
nav a{
	color: #d3d3d3!important;
}
.bg-light{
	background: #039BE5!important; 
}
.bg-dark{
	background: #19212B!important;
}
ul li .sidebar-link{	
	font-size: 1.2em;
	color:#efefef; 	
	border: none!important;	
}
ul li .sidebar-link:hover{
	color:#44A3CE!important;
	background-color: #2B323C!important;	
}
ul li .active{
	color:#44A3CE!important;
	background-color: #2B323C!important;	
}
.new {
    background-color: #141111;
    color: #dcede6;
    display: list-item;
    padding: 10px;
    text-decoration: none;
}
.hidden
{
    display: none;
}

.sidebar{
	width: 100%;
	top: 0;
	position:fixed;
	height:100vh;
}
#NewTender{
	position: relative;
	min-height: 100vh;
	width : 90%;
}
#UploadDocuments{
	position: relative;
	min-height: 100vh;
	text-align: center;
	width : 90%;
}
#UploadDocuments .container,#NewTender .container{
	padding-top:7%;
}