
html{
	scroll-behavior: smooth;
}
/*Top Navbar*/

	nav{
		box-sizing: border-box;
		border-bottom-right-radius: 10px;
	}
	nav .nav-link a{
		color: #d3d3d3;
	}
	.bg-light{
		background: #039BE5!important; 
	}
	.custom-dropdown{
		font-size: 1em;
		color: #d3d3d3;
		padding-right: 20px;
	}
	.custom-dropdown:hover{
		color: #000000!important;
	}
	nav ul .dropdown-menu{
		left:-50px!important;
		border-radius: 10px;
		text-align: center;
	}
	
/*Sidebar*/
.vertical-menu {
    height:100vh;
    position: fixed;
    top:0%;
    background-color: #19212B;
}


.main-menu{
    box-shadow: 
    	inset 0px 3px 2px -4px #BCBFC2,
        inset 0px -3px 2px -4px #BCBFC2;

    padding-bottom: 5%;
}
.nav-link{
    text-align: left;
    font-size: 1em; 
}
.vertical-menu .header {
    color: #ffffff;
    padding-top: 10%;
    padding-bottom: 6%;
}
.vertical-menu .active a{
    color: #4CB8E9!important;
}
.vertical-menu .sub-menu a{
    color: #BCBFC2;
    transition: all 0.5s;
}

.vertical-menu .sub-menu a:hover,.main-menu{
    background-color: #2B323C;
}


/*Undefined*/

	.new {
	    background-color: #141111;
	    color: #dcede6;
	    display: list-item;
	    padding: 10px;
	    text-decoration: none;
	}
	.hidden
	{
	    display: none;
	}



/*Sections*/

	#NewTender,#UploadDocuments{
		background: #ECEFF1;
		position: relative;
		min-height: 100vh;
		width : 90%;
		box-shadow: 
    	inset 0px 5px 10px -5px #d3d3d3,
        inset 0px -5px 10px -5px #d3d3d3;
        padding-bottom: 5%;
	}
	.design{
		
		height: 80vh;
		background: #039BE5;
		width: 100%;
		position: absolute;
		top:1%;
		padding: 10%;
		left:0%;
		z-index: 1;
	}
	.design h3{
		font-family: 'Josefin Sans', sans-serif;
		color: #ffffff;
		font-weight: bold;
		font-size: 1.5em;
	}
	.design p{
		font-family:  Comic Sans MS;
		color: #ECEFF1;

	}
	.main-section{
box-shadow: 0px 0px 10px 0px rgba(119, 119, 119, 0.75);
-moz-box-shadow: 0px 0px 10px 0px rgba(119, 119, 119, 0.75);
-webkit-box-shadow: 0px 0px 10px 0px rgba(119, 119, 119, 0.75);
		border-radius: 1%!important;
		position: relative;
		margin-top:20%;
		z-index: 2;
	}
	#UploadDocuments .container,#NewTender .container{
		padding-top:7%;
	}

/*SVG Canvas*/

	.morph-shape,
	.morph-shape svg {
	    position: absolute;
	    width: 100%;
	    left: 0;
	}

	.morph-shape {
	    height: 70px;
	    -webkit-transition: height 0.5s cubic-bezier(0.7, 0, 0.3, 1);
	    transition: height 0.5s cubic-bezier(0.7, 0, 0.3, 1);
	}

	.morph-shape svg {
	    height: 100%;
	}

	.menu.menu--open .morph-shape {
	    height: 500px;
	}

	.menu.menu--open .morph-shape svg path {
	    fill: gray;
	}

	.morph-shape svg path {
	  -webkit-transition: fill 0.5s cubic-bezier(0.7, 0, 0.3, 1);
	    transition: fill 0.5s cubic-bezier(0.7, 0, 0.3, 1);
	}



/*Scrollbar*/

	body::-webkit-scrollbar {
	    width: 1em;
	}
	 
	body::-webkit-scrollbar-track {
		margin-top: 2%;
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	    border-radius: 10px;
	}
	 
	body::-webkit-scrollbar-thumb {
	  	background-color: darkgrey;
	  	outline: 2px solid slategrey;
	  	border-radius: 10px;
	}
	body::::-webkit-resizer{
	}