
 body{
  background: url("../images/tender.jpg")!important;
  background-size: cover!important;
  background-repeat: no-repeat;
  	}
  	.jumbotron{
  		text-align: center;
  		background: none!important;
  	}
  	tr,td,th{
  		border: none!important;
  	}
  	th{
  		text-align: right!important;
  		padding-right: 40px!important;
  	}
  	td{
  		text-align: left!important;
  		padding-left: 40px!important;
  	}
  	table{
  		
  		border: none;
    -webkit-box-shadow: 3px 3px 5px 6px #d3d3d3!important; 
  	-moz-box-shadow:    3px 3px 5px 6px #d3d3d3!important; 
 	box-shadow:         3px 3px 5px 6px #d3d3d3!important;
  	
  		opacity: 0.9;
  		
  		align-items: left!important;
  	}